/* ---------------------------------------------------
    Popup Alert
----------------------------------------------------- */
@keyframes slide-in-message {
    0% {
        opacity: 0;
        transform: translate3d(600px,-50%,0);
    }
    50% {
        opacity: 0;
        transform: translate3d(-200px,-50%,0);
    }
    100% {
        opacity: 1;
        transform: translate3d(-365px,-50%,0);
    }
}
@keyframes slide-out-message {
    0% {
        opacity: 1;
        transform: translate3d(-400px,-50%,0);
    }
    50% {
        opacity: 0;
        transform: translate3d(-100px,-50%,0);
    }
    100% {
        opacity: 0;
        transform: translate3d(800px,-50%,0);
    }
}


.woocommerce-error,.woocommerce-message{
    background:orange;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 30%);
    border: none;
    position: fixed;
    top: 50%;
    left: 100%;
    width: 400px;
    max-height: 500px;
    margin: 0 !important;
    padding: 15px 40px 15px 65px;
    z-index: 9999;
    overflow: hidden;
    transform: translate3d(200px,-50%,0);
    animation: slide-in-message, slide-out-message;
    animation-duration: 1.2s, 1.1s;
    animation-delay: .4s, 9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    font-weight: bold;
    color: #FFF;
    box-sizing: border-box;
}
.woocommerce-info {
    border-top-color: #00aff0;
}
.woocommerce-info::before {
    color: #000000;
}
.close-message{
    position: absolute;
    right: 50px;
    cursor:pointer;
    top:50%;
    transform:translateY(-50%);
}

/* ---------------------------------------------------
    Account page
----------------------------------------------------- */
.woocommerce .woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content {
    box-shadow: 0 1px 1px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    background-color: white;
    padding: 20px;
    margin-bottom: 30px
}

nav.woocommerce-MyAccount-navigation ul li {
    margin-bottom: 7px;
}

nav.woocommerce-MyAccount-navigation ul li.is-active a {
    font-weight: bold;
}

nav.woocommerce-MyAccount-navigation ul li a {
    font-size: 16px;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select {
    height: 39px;
    padding: 10px;
}

.select2-container .select2-selection--single {
    height: 39px;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border: 1px solid #d5115a;
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border: 1px solid #aaa;
}

.recent-post-wrapper .image-wrapper img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    float: left;
    margin-right:15px;
    margin-bottom:15px;
}
.post-detail{
    padding:0 60px;
    margin-top:30px;
}
.post-detail h1{
    margin-top:20px;
}

.recents-post{
    padding:0 50px;
    border-left:1px solid #cccccc;
    position: -webkit-sticky;
    position: sticky;
    top:40px;
}



/* ========================= css hem raj Open ============================= */
.programas .products {
    text-align: center;
}

.programas .products  li  h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 25px !important;
    font-weight: 600;
}

.programas .products .woocommerce-Price-amount {
    color: var(--primary-color);
    font-size: 23px;
}

.programas .woocommerce a.button {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 27px;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
    border: 1px solid transparent;
    outline: none;
    border-radius: 0;
}

.programas .woocommerce a.button:hover{
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.programas .woocommerce ul.products li.product .price{
    color: #828181 !important;
    font-size: 1rem;
}

.all-header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__title h2{
    text-align: center;
    color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.default-page1 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.cart-collaterals1  .cart_totals {
  background-color: var(--primary-color);
    padding: 2rem 1rem;

}
.cart-collaterals1  .cart_totals h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.cart_totals table th, .cart_totals .Subtotal {
    color: #fff;
}

.cart_totals .woocommerce-Price-amount {
    color: #fff;
}



.woocommerce a.button{
    display: inline-block !important;
}
.woocommerce a.button.alt {
    background-color: #fff;
    color: var(--primary-color);
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-size:1rem;
}
.woocommerce a.button.alt:hover{
    background-color: transparent;
    border: 1px solid #fff;
}
.woocommerce .product-name a{
    color:var(--primary-color);
}

.woocommerce button.button {
    background-color: var(--primary-color);
    color: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-transform: uppercase;
}

.woocommerce table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 100%;
    max-width: 180px;

}

.woocommerce .product-name , .woocommerce .product-price, .woocommerce .product-quantity , .woocommerce .product-subtotal {
    text-transform: uppercase;
}


.woocommerce .woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content {
    box-shadow: none;
}

/* ========================= css hem raj Close  ============================= */